//测试css中的filter（滤镜）属性
.test-css-filter{
  text-align: center;
  margin: 30px auto;
  >div{
    text-align: center;
    margin: 10px auto;
    img:first-of-type{
      margin-right: 10px;
    }
  }
  img{
    width: 200px;
  }
  div.none{
    img:first-of-type{
      filter: none;
    }
  }
  div.blur{
    img:first-of-type{
      filter: blur(2px);
    }
  }
  div.brightness{
    img:first-of-type{
      filter: brightness(50%);
    }
  }
  div.contrast{
    img:first-of-type{
      filter: contrast(50%);
    }
  }
  div.drop-shadow{
    img:first-of-type{
      filter: drop-shadow(2px 4px 6px #000);
    }
  }
  div.grayscale{
    img:first-of-type{
      filter: grayscale(2%);
    }
  }
  div.hue-rotate{
    img:first-of-type{
      filter: hue-rotate(90deg);
    }
  }
  div.invert{
    img:first-of-type{
      filter: invert(0%);
    }
  }
  div.opacity{
    img:first-of-type{
      filter: opacity(100%);
    }
  }
  div.saturate{
    img:first-of-type{
      filter: saturate(100%);
    }
  }
  div.sepia{
    img:first-of-type{
      filter: sepia(0%);
    }
  }
  div.url{
    img:first-of-type{
      filter: url("../../assets/svg.xml#blur");
    }
  }
}