body{
  width: 100%;
  height: auto;
}

.Index{
  .ant-layout{
    .ant-layout-header{
      background: #fff;
      .logo{
        display: inline-block;
        width: 40%;
        img{
          border-radius: 5%;
        }
      }
      .nav-menu{
        width: 50%;
        display: inline-block;
        ul.ant-menu{
          font-size: 17px;
          border: none;
          line-height: 0;
          li.ant-menu-item-active,li.ant-menu-item-selected{
            border-bottom: 2px solid transparent;
          }
        }
      }
      .index-header-right{
        display: inline-block;
        text-align: right;
        width: 10%;
        button{
          border: none;
        }
      }
    }
    .ant-layout-has-sider{
      .ant-layout-sider{
        background: #F0F2F4;
        border: 1px solid #000;
      }
    }
  }
}
.Login{
  .ant-form-item{
    .ant-form-item-control-wrapper{
      .ant-form-item-control{
        span.ant-input-affix-wrapper{
          span.ant-input-prefix{
            i{
              color: rgba(0,0,0,.25);
            }
          }
        }
      }
    }
  }
  .login-form {
    margin: 50px auto;
    max-width: 500px;
    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
    }
  }
}
.login-resetPwd-modal{
  font-size: 14px;
  position: relative;
  i{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .ant-modal-header{
    .ant-modal-title{
      text-align: center;
      font-size: 15px;
    }
  }
  .login-forgetPwd-modal-phone{
    text-align: center;
    button{
      width: 300px;
      margin-top: 20px;
    }
  }
  .login-forgetPwd-modal-form{
    text-align: center;
    button{
      width: 300px;
    }
  }
}
.Register{
  .register-form{
    margin: 50px auto;
    max-width: 500px;
  }
  .register-form-button{
    width: 100%;
  }
}
.register-agreement-modal{
  button{
    margin-left: 400px;
  }
}

