body{
  width: 100%;
  height: auto;
}

.Index{
  .ant-layout{
    .ant-layout-header{
      background: #fff;
      .logo{
        display: inline-block;
        width: 633px;
      }
      .index-header-right{
        display: inline-block;
        text-align: right;
        width: 633px;
        button{
          border: none;
        }
      }
    }
    .ant-layout-has-sider{
      .ant-layout-sider{
        background: #F0F2F4;
        border: 1px solid #000;
      }
    }
  }
}
.Login{
  .login-form {
    margin: 50px auto;
    max-width: 300px;
    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
    }
  }
}

